@import '../../../styles/shared/index.scss';

.formItem {

    margin: 1rem 0;
}

.formItemLabel {

    display: block;
    margin: 0 0 0.5rem 0;
}

.formItemInput {

    display: block;
    width: 80%;
}