@import '../../../styles/shared/index.scss';


.categoryHero {

    width: 95%;
    margin: 0 auto;
    padding: 1rem 0 1rem 0;

    @include atMediumBelow {
        
        width: 95%;
    }
}


.productBreadcrumbs {

    display: block;
    margin: 0 0 1rem 0;
   

    & li {
        display: inline-block;
        margin: 0 0.5rem 0 0;

        & a {
            color: $mainGrey;
            font-size: 1.2rem;
        }
    }

}

.productMainArea {
    
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 95%;
    margin: 0 auto;
    padding: 0;

}

.imageGalleryArea {

    grid-column: 1/4;

    @include atMediumBelow {

        grid-column: 1/8;
    }
}

.gallery {

    margin: 0;
}

.productTitle {

    text-align: left;
}

.stockStatus {

    text-align: left;
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: bold;
}

.productPrice {

    margin: 1rem 0;
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
}

.productHandleArea {

    grid-column: 4/8;

    @include atMediumBelow {

        grid-column: 1/8;
        margin: 3rem 0;
    }
}

.addProduct {

    display: flex;
    margin: 4rem 0 0 0;
}



.productQuantity {

    text-align: center;
    margin: 0 2rem 0 0;
}

.addCartButton {

    display: flex;
    justify-content: center;
    margin: 0;

    & button {

        background: $mainOrange;
        padding: 0.5rem 2rem;
        text-transform: uppercase;
    }
}



.productDetails {
    
    grid-column: 1/8;
    margin: 2rem 0 5rem 0;
   
    @include atMediumBelow {

        margin: 1 0 2rem 0;
    }
}

