@import '../../../../../styles/shared/index.scss';


.paymentForm {

    margin: 1rem 0;
}

.paymentTitle {

    margin: 0 0 1rem 0;
}

.paymentButton {

    margin: 0 0 1rem 0;

    & button {

        display: block;
        margin: 1rem 0 0 0;
    }
}